<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreddyTime</title>
    <link rel="stylesheet" href="style.css" >
    
  
    
    
    <style>
        body {
            background-color: red;
        }
    </style>






</head>

<body>
    <h1>Error 504: Freddy Fazbear</h1>
    <p>Freddy Fazbear has hijacked this site.</p>
    <p>Do with the information as you wish.</p>
    <img srcset="https://m.gjcdn.net/fireside-post-image/600/23103334-abakrmri-v4.webp" alt="webp">


    <h3>Tip: There is no way to make him leave.</h4>
</body>

</html>
